.e{
    margin-top: 28px;
    font-size: 25px;
    font-weight: bold;
}
.dd{
width: 95%;
margin: auto;
background: rgb(221, 243, 243);
margin-top: 22px;
border-radius: 50px;
}
.hu{
    font-size: 30px;
    transform: rotate(-90deg);
    margin-top: 30px;
    float: right;
}
.icon1{
    font-size: 25px;
    float: right;
    margin-top: 8px;
    color: blue;

}
.icon2{
    font-size: 25px;
    float: left;
    margin-top: 8px;
    color: blue;
}
.card-img-top7{
    width: 100%;
    border-radius: 5px;
  }
  .gggg{
    height: 80px;
    width: 98%;
    margin-left: 1%;
    border: solid 1px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    color: white;
    background: white;
    margin-top: 20px
  
  }
  .aaaa{
    height: 40px;
    width: 40px; 
    background-color: transparent;
    background: transparent;
    margin-top: 10px;
    margin-left: 10px;
    border-radius: 10px;
  
  }
  .aaab{
    height: 40px;
    width: 40px;
    background-color: transparent;
    background: transparent;
    margin-top: 10px;
    margin-left: 12px;
    text-align: center;
    border-radius: 10px;  
  }
  .cc{
    width: 95%;
    margin: auto;
    margin-top: 20px; 
}